<div class="border-bottom mb-3" data-controller="review">
  <div class="d-flex justify-content-between py-3">
    <h1><%= @restaurant.name %></h1>
    <a href="" id="add-review" data-action="click->review#showReview">Add a review <i class="fas fa-pencil-alt"></i></a>
  </div>
  <div class="cards">
    <div>
      <p><strong>Category:</strong> <%= "#{@restaurant.category.capitalize}" %></p>
      <p><strong>Address:</strong> <%= "#{@restaurant.address}" %></p>
      <p><strong>Phone Number:</strong> <%= " #{@restaurant.phone_number}" %></p>
    </div>
    <div class="pb-4 d-none" data-review-target="form">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.submit "Submit review", class: "btn btn-primary", "data-action" => "click->review#submit" %>
      <% end %>
    </div>
  </div>
</div>

<% unless @restaurant.reviews.empty? %>
  <p><strong>Reviews</strong></p>
  <ul class="list-unstyled">
      <% @restaurant.reviews.each do |review| %>
        <div class="review my-3">
          <span>
            <% review.rating.to_i.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </span>
          <span id="faded">
            <% (5 - review.rating.to_i).times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </span>
          <li><%= review.content %></li>
        </div>
    <% end %>
  </ul>
<% end %>
<br>
